@import '../../theme/design-tokens.less';

.container {
  display: flex;
  height: 100%;
  width: 100%;

  .contentWrapper {
    flex: 1;
    overflow-x: auto;
    height: 100%;
    background-color: @neutral-50;
    padding: @space-md @space-lg @space-xl @space-2xl;
    display: flex;
    flex-direction: column;
  }

  .content {
    background-color: @neutral-50;
    margin-top: @space-md;
    flex: 1;
  }
}
